.user-container {
  width: 700px;
  border: 1px solid black;
  margin:auto;
}

.user-card {
  display:flex;
  margin: 50px 10px;
  border:1px solid blue;
}

.user-card img {
  width: 200px;
}

.description {
  margin-left: 10px;
}